/* About Us Section */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #5e7ab6;
  color: white;
  margin-top: 3%;
}
nav a.active {
  border-bottom: 2px solid #ffcc00;
}


.team-title {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
}

.row {
  padding: 0 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  transition: transform 0.3s;
  border-radius: 8px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.top {
  background-color: #004080;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  vertical-align: middle;
}

.top nav {
  display: flex;
}

.top nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: normal;
}

.top nav a.active {
  font-weight: bold;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

footer.footer {
  background-color: #00509E;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: white;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ffcc00;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section.social a {
  margin-right: 15px;
  transition: opacity 0.3s ease;
}

.footer-section.social a:hover {
  opacity: 0.8;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #003F7D;
  margin-top: 20px;
}
